<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">



    <div class="container-fluid bg-info">

        <div class="row">
            <div class="col-10">
                <nav class="navbar navbar-expand-lg navbar-light bg-info">
                <a class="navbar-brand text-body">COMPUTERS ANS ACCESORIES</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                        </li>

                        <!--<li class="nav-item dropdown show">-->
                            <!--<a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >-->
                                <!--CATEGORIES-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                CATEGORIES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/category/1">Notebooks</a>
                                <a class="dropdown-item" href="/category/2">Tablets</a>
                                <a class="dropdown-item" href="/category/3">Cameras</a>
                                <a class="dropdown-item" href="/category/4">Phones</a>

                            </div>
                        </li>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="ndml1"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Panel
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ndml1">
                                <a class="dropdown-item" href="/admin/user/">Users CRUD</a>
                                <a class="dropdown-item" href="/admin/good/">Goods CRUD</a>
                                <a class="dropdown-item" href="/admin/news/">News CRUD</a>
                                <a class="dropdown-item" href="/admin/order/">ORDERS CRUD</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="ndml2"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ndml2">
                                <a class="dropdown-item" href="/cart">My cart</a>
                                <a class="dropdown-item" href="/order">My orders</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            </div>


            <div class="col-2">

                <nav class="navbar navbar-expand-lg navbar-light bg-info" th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <ul class="navbar-nav" th:case="${false}">
                            <li class="nav-item active">
                                <a class="nav-link" href="/registration">SIGN UP <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" href="/login">LOGIN <span class="sr-only">(current)</span></a>
                            </li>
                    </ul>
                    <ul class="navbar-nav" th:case="${true}">
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">LOGOUT <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                </nav>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <p class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></p>
                <p class="alert alert-success" th:if="${success != null}" th:text="${success}"></p>
            </div>
        </div>
    </div>


</div>

</body>
</html>